a{
	font-weight: bold;
}
a:link {
    text-decoration: none;
    color: #04884F;
}

a:visited {
    text-decoration: none;
    color: #04884F;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #66716C;

}

ul {
	list-style-type: none;
}

li {
    display: inline-block;
    padding-right: 10px;
}

.simple_frame {
    background: none repeat scroll 0 0 #eeeeee;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    border-radius: 5px;
}

.cell_tab_doc{
    /*width: 20%;*/
    display: inline-block;
    padding-left: 10px;
    width:20%;
}

.row_tab_doc{
    
}

textarea {
    background-color: lightblue;
    border-width: 0;
}

.footer_copyrights {
    background-color: lime;
    text-align: center;
    border-radius: 5px;
}

.div_doc_keywords {
    background-color: gold;
    width: 350px;
    padding: 10px;
    padding-bottom: 20px;
}